<?xml version="1.0" ?>
<robot name="chassis_model" xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:include filename="macros.xacro" />

    <gazebo reference="base_footprint">
        <xacro:dark_grey/>
    </gazebo>
    <gazebo reference="base_link">
        <xacro:white/>
    </gazebo>
    <gazebo reference="suspension_1_left_1">
        <xacro:dark_grey/>
    </gazebo>
    <gazebo reference="suspension_1_right_1">
        <xacro:dark_grey/>
    </gazebo>
    <gazebo reference="suspension_2_left_1">
        <xacro:dark_grey/>
    </gazebo>
    <gazebo reference="suspension_2_right_1">
        <xacro:dark_grey/>
    </gazebo>
    <gazebo reference="wheel_3">
        <xacro:black/>
    </gazebo>
    <gazebo reference="wheel_2">
        <xacro:black/>
    </gazebo>
    <gazebo reference="wheel_1">
        <xacro:black/>
    </gazebo>
    <gazebo reference="wheel_r_1">
        <xacro:black/>
    </gazebo>
    <gazebo reference="wheel_r_2">
        <xacro:black/>
    </gazebo>
    <gazebo reference="wheel_r_3">
        <xacro:black/>
    </gazebo>

</robot>