<?xml version="1.0" ?>
<robot name="chassis_model" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find chassis_description)/urdf/materials.xacro" />
<xacro:arg name="controllers_yaml" default="" />
<xacro:arg name="controllers_sim_yaml" default="" />
<xacro:arg name="use_sim" default="true" />
<xacro:arg name="can_interface" default="can0" />
<!--xacro:include filename="$(find chassis_description)/urdf/chassis_model.trans" /-->
<!--xacro:include filename="$(find chassis_description)/urdf/chassis_model.gazebo" /-->
<link name="base_link">
  <inertial>
    <origin xyz="0.3026093095883329 4.957188589394069e-17 -0.00019403432456449078" rpy="0 0 0"/>
    <mass value="368.7010327977625"/>
    <inertia ixx="7.357137" iyy="12.009665" izz="17.59793" ixy="-0.0" iyz="-0.0" ixz="-0.006189"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="suspension_1_left_1">
  <inertial>
    <origin xyz="-0.06679854886170258 -0.019220268351824554 -0.09147358690967579" rpy="0 0 0"/>
    <mass value="9.626869069556502"/>
    <inertia ixx="0.046767" iyy="0.499696" izz="0.455312" ixy="0.000601" iyz="-1.3e-05" ixz="-0.104319"/>
  </inertial>
  <visual>
    <origin xyz="-0.3024 0.243025 -0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/suspension_1_left_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.3024 0.243025 -0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/suspension_1_left_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="suspension_1_right_1">
  <inertial>
    <origin xyz="-0.06679854886170233 0.019220268351824554 -0.09147358690967583" rpy="0 0 0"/>
    <mass value="9.626869069556493"/>
    <inertia ixx="0.046767" iyy="0.499696" izz="0.455312" ixy="-0.000601" iyz="1.3e-05" ixz="-0.104319"/>
  </inertial>
  <visual>
    <origin xyz="-0.3024 -0.243025 -0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/suspension_1_right_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.3024 -0.243025 -0.0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/suspension_1_right_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="suspension_2_left_1">
  <inertial>
    <origin xyz="-0.039308541684192844 0.019050000000000067 -0.062225074163904326" rpy="0 0 0"/>
    <mass value="5.109936689304592"/>
    <inertia ixx="0.006956" iyy="0.072697" izz="0.066977" ixy="0.0" iyz="0.0" ixz="-0.003812"/>
  </inertial>
  <visual>
    <origin xyz="-0.6024 0.281125 0.122" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/suspension_2_left_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.6024 0.281125 0.122" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/suspension_2_left_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="suspension_2_right_1">
  <inertial>
    <origin xyz="-0.03930854168419273 -0.019050000000000122 -0.06222507416390427" rpy="0 0 0"/>
    <mass value="5.10993668930459"/>
    <inertia ixx="0.006956" iyy="0.072697" izz="0.066977" ixy="-0.0" iyz="0.0" ixz="-0.003812"/>
  </inertial>
  <visual>
    <origin xyz="-0.6024 -0.281125 0.122" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/suspension_2_right_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.6024 -0.281125 0.122" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/suspension_2_right_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_3">
  <inertial>
    <origin xyz="-1.4432899320127035e-15 -0.05499999999999988 3.608224830031759e-16" rpy="0 0 0"/>
    <mass value="35.77866096632706"/>
    <inertia ixx="0.154692" iyy="0.23723" izz="0.154692" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.7524 0.281125 0.244" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/wheel_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.7524 0.281125 0.244" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/wheel_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_2">
  <inertial>
    <origin xyz="-1.609823385706477e-15 -0.05499999999999988 1.3877787807814457e-16" rpy="0 0 0"/>
    <mass value="35.77866096632706"/>
    <inertia ixx="0.154692" iyy="0.23723" izz="0.154692" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.3624 0.281125 0.244" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/wheel_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.3624 0.281125 0.244" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/wheel_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_1">
  <inertial>
    <origin xyz="-1.7208456881689926e-15 -0.05499999999999988 1.1102230246251565e-16" rpy="0 0 0"/>
    <mass value="35.77866096632706"/>
    <inertia ixx="0.154692" iyy="0.23723" izz="0.154692" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.1376 0.281125 0.244" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.1376 0.281125 0.244" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/wheel_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_r_1">
  <inertial>
    <origin xyz="-1.7208456881689926e-15 0.05499999999999988 1.942890293094024e-16" rpy="0 0 0"/>
    <mass value="35.77866096632706"/>
    <inertia ixx="0.154692" iyy="0.23723" izz="0.154692" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.1376 -0.281125 0.244" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/wheel_r_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.1376 -0.281125 0.244" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/wheel_r_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_r_2">
  <inertial>
    <origin xyz="-1.609823385706477e-15 0.05499999999999988 2.220446049250313e-16" rpy="0 0 0"/>
    <mass value="35.77866096632706"/>
    <inertia ixx="0.154692" iyy="0.23723" izz="0.154692" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.3624 -0.281125 0.244" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/wheel_r_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.3624 -0.281125 0.244" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/wheel_r_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="wheel_r_3">
  <inertial>
    <origin xyz="-1.4432899320127035e-15 0.05499999999999988 4.440892098500626e-16" rpy="0 0 0"/>
    <mass value="35.77866096632706"/>
    <inertia ixx="0.154692" iyy="0.23723" izz="0.154692" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.7524 -0.281125 0.244" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/wheel_r_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.7524 -0.281125 0.244" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://chassis_description/meshes/wheel_r_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Revolute 1" type="fixed">
  <origin xyz="0.3024 -0.243025 0.0" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="suspension_1_left_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="Revolute 2" type="fixed">
  <origin xyz="0.3024 0.243025 0.0" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="suspension_1_right_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="Revolute 3" type="fixed">
  <origin xyz="0.3 -0.0381 -0.122" rpy="0 0 0"/>
  <parent link="suspension_1_left_1"/>
  <child link="suspension_2_left_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="Revolute 4" type="fixed">
  <origin xyz="0.3 0.0381 -0.122" rpy="0 0 0"/>
  <parent link="suspension_1_right_1"/>
  <child link="suspension_2_right_1"/>
  <axis xyz="0.0 -1.0 0.0"/>
</joint>

<joint name="joint_wheel_r1" type="continuous">
  <origin xyz="0.15 0.0 -0.122" rpy="0 0 0"/>
  <parent link="suspension_2_left_1"/>
  <child link="wheel_3"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="joint_wheel_r2" type="continuous">
  <origin xyz="-0.24 0.0 -0.122" rpy="0 0 0"/>
  <parent link="suspension_2_left_1"/>
  <child link="wheel_2"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="joint_wheel_r3" type="continuous">
  <origin xyz="-0.44 -0.0381 -0.244" rpy="0 0 0"/>
  <parent link="suspension_1_left_1"/>
  <child link="wheel_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="joint_wheel_l1" type="continuous">
  <origin xyz="-0.44 0.0381 -0.244" rpy="0 0 0"/>
  <parent link="suspension_1_right_1"/>
  <child link="wheel_r_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="joint_wheel_l2" type="continuous">
  <origin xyz="-0.24 0.0 -0.122" rpy="0 0 0"/>
  <parent link="suspension_2_right_1"/>
  <child link="wheel_r_2"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="joint_wheel_l3" type="continuous">
  <origin xyz="0.15 0.0 -0.122" rpy="0 0 0"/>
  <parent link="suspension_2_right_1"/>
  <child link="wheel_r_3"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<!-- ============ ros2_control joint macro ============ -->
<xacro:macro name="wheel_joint_interfaces" params="name">
  <joint name="${name}">
    <command_interface name="velocity"/>
    <state_interface name="velocity"/>
    <state_interface name="position"/>
  </joint>
</xacro:macro>

<!-- ============ Simulation hardware (Gazebo) ============ -->
<xacro:if value="$(arg use_sim)">
  <ros2_control name="ChassisSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <xacro:wheel_joint_interfaces name="joint_wheel_r1"/>
    <xacro:wheel_joint_interfaces name="joint_wheel_r2"/>
    <xacro:wheel_joint_interfaces name="joint_wheel_r3"/>
    <xacro:wheel_joint_interfaces name="joint_wheel_l1"/>
    <xacro:wheel_joint_interfaces name="joint_wheel_l2"/>
    <xacro:wheel_joint_interfaces name="joint_wheel_l3"/>
  </ros2_control>

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <robot_param>robot_description</robot_param>
      <robot_param_node>robot_state_publisher</robot_param_node>
      <parameters>$(arg controllers_yaml)</parameters>
      <parameters>$(arg controllers_sim_yaml)</parameters>
    </plugin>
  </gazebo>
</xacro:if>

<!-- ============ Real hardware (ODrive via CAN) ============ -->
<xacro:unless value="$(arg use_sim)">
  <xacro:macro name="odrive_joint" params="name node_id">
    <joint name="${name}">
      <param name="node_id">${node_id}</param>
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>
  </xacro:macro>

  <ros2_control name="ODriveSystem" type="system">
    <hardware>
      <plugin>odrive/ODriveSystemInterface</plugin>
      <param name="can_interface">$(arg can_interface)</param>
    </hardware>
    <!-- Right wheels -->
    <xacro:odrive_joint name="joint_wheel_r1" node_id="2"/>
    <xacro:odrive_joint name="joint_wheel_r2" node_id="3"/>
    <xacro:odrive_joint name="joint_wheel_r3" node_id="7"/>
    <!-- Left wheels -->
    <xacro:odrive_joint name="joint_wheel_l1" node_id="4"/>
    <xacro:odrive_joint name="joint_wheel_l2" node_id="5"/>
    <xacro:odrive_joint name="joint_wheel_l3" node_id="6"/>
  </ros2_control>
</xacro:unless>


</robot>
